{% extends "base.html" %}

{% block functionality %} FORUM POOL{% endblock %}

{% block content %}

<div id="mainContainer"></div>

<script>

    var mainContainer = document.getElementById("mainContainer");

    function add_element(elementType, innerHTML) {
        var element = document.createElement(elementType)
        element.innerHTML = innerHTML
        mainContainer.appendChild(element);
    }

    function add_post(post) {

        /*      

            <div id="pos"><h2>post["header"]
                <a href="">
                    <input type="submit" name="Read More" value="Post">
                </a>
            </h2></div>
        
        */
        add_element("div", "<div id=\"pos\"><h2>" + post["header"] + "<a href=\"" + post["URL"] + "\"><input type=\"submit\" name=\"go_to_entry\" value=\"Reada More\"></a></h2></div>");
    }

    function helper(value, index, array) {
        add_post(value);
    }

    // ONLY EDIT BELOW THIS COMMENT WHEN
    // IMPLEMENTING DIFFERENT FEATURES

    // When the api is completed, replace the hardcoded event_data
    // object below with the commented fetch block bewlo event_data.
    forum_data =
        [
            {
                "header": "Picasso",
                "URL": "", //URL for this specific forum entry
            },
            {
                "header": "Monet",
                "URL": "", //URL for this specific forum entry
            }
        ]


    /*
    fetch(url)
    .then(function (response) {
        // The JSON data will arrive here
    })
    .catch(function (err) {
        // If an error occured, you will catch it here
    });
    */

    forum_data.forEach(helper);

</script>

<form action="" method="post">
    <div>
        <label>
            Entry Header:
        </label>
        <input type="text" name="entry_header">
    </div>
    <div id="forumPostEnter" sytle="width: 50%; margin: auto">
        <textarea placeholder="Write first post for the entry!" id="" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" name="new_post" value="Create Entry">
</form>


<!--  checkout https://www.quackit.com/html/codes/comment_box_code.cfm   for action url. It must be a .cfm file  -->
{% endblock %}