{% extends "base.html" %}

{% block functionality %}Sign Up{% endblock %}

{% block content %}

<div id="mainContainer"></div>

<script>

    var mainContainer = document.getElementById("mainContainer");

    function add_element(elementType, innerHTML) {
        var element = document.createElement(elementType)
        element.innerHTML = innerHTML
        mainContainer.appendChild(element);
    }

    // ONLY EDIT BELOW THIS COMMENT WHEN
    // IMPLEMENTING DIFFERENT FEATURES

    add_element("h2", "Enter Personal Information")

    function submitform() {
        var form = document.getElementById('myForm');
        var formData = new FormData(form)

        url = "/api/signup"
        fetch(url, {
            method: "POST",
            body: JSON.stringify(Object.fromEntries(formData)),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(response => {
            if (response.status == 409) {
                alert('This email is already being used.')
            }

            if (response.status == 201) {
                response.json().then(userData => {
                    location.href = '/?token=' + userData["access_token"];
                })
            }
        })
    }

    add_element("div",
        `
    <form id="myForm">
        <p>Email:       <input type="text" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p>First Name: <input type="text" name="first-name"></p>
        <p>Last Name:        <input type="text" name="last-name"></p>
        <p>
            <input type="checkbox" id="is-artist" name="is-artist">
            <label for="is-Artist">Artist</label>
        </p>
        <input type="button" value="Sign Up" onclick="submitform()">
    </form>
    `)


</script>

{% endblock %}