{% extends "base.html" %}

{% block functionality %} FORUM {% endblock %}

{% block content %}

<div id="mainContainer"></div>

<script>

    var mainContainer = document.getElementById("mainContainer");

    function add_element(elementType, innerHTML) {
        var element = document.createElement(elementType)
        element.innerHTML = innerHTML
        mainContainer.appendChild(element);
    }

    function add_post(post) {

        /*        <div id="pos">
                    <h3>post["index"]</h3>
                    <h6>post["author"]</h6>
                    <h6>post["time"]</h6>
                    <h4>post["text"]</h4>
                </div>
        
          */
        add_element("div", "<div id=\"pos\" ><h3>" + post.index + "</h3><h6>" + post.author + "</h6><h6>" + post.time + "</h6><h4>" + post.text + "</h4>");
    }

    function helper(value, index, array) {
        console.log(value);
        add_post(value);
    }

    // ONLY EDIT BELOW THIS COMMENT WHEN
    // IMPLEMENTING DIFFERENT FEATURES

    // When the api is completed, replace the hardcoded event_data
    // object below with the commented fetch block bewlo event_data.
    forum_data = {
        "header": "Picasso",
        "posts":
            [{
                "index": "#1",
                "autor:": "sam",
                "time": "04-05-2022 15:20:00",
                "text": "Picasso was a great artist.",
            },
            {
                "index": "#2",
                "author": "demet",
                "time": "12-12-2012 12:12:12",
                "text": "I dont even know him peh!",
            }]

    }

    /*
    fetch(url)
    .then(function (response) {
        // The JSON data will arrive here
    })
    .catch(function (err) {
        // If an error occured, you will catch it here
    });
    */

    add_element("h1", "Forum Page");

    add_element("h2", forum_data["header"]);

    forum_data["posts"].forEach(helper);

</script>


<!-- below code is for posting a comment -->
<form action="" method="post">
    <div id="forumPostEnter" sytle="width: 50%; margin: auto">
        <label>New Post</label>
        <textarea placeholder="Enter you text here" id="" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" name="Post" value="Post">
</form>


<!--  checkout https://www.quackit.com/html/codes/comment_box_code.cfm   for action url. It must be a .cfm file  -->
{% endblock %}
