{% extends "base.html" %}

{% block functionality %} Wikipedia Definition {% endblock %}

{% block content %}

<div id = "mainContainer"></div>

<script>

    var mainContainer = document.getElementById("mainContainer");

    function add_element(elementType, innerHTML) {
        var element = document.createElement(elementType)
        element.innerHTML = innerHTML
        mainContainer.appendChild(element);
    }

    add_element("h2", "Enter A Word For Wikipedia Definition")

    add_element("div",
    `
    <form autocomplete="off" onsubmit="return false;">
        <p>Word: <input id="word" type="text"></p>
    </form>
    <button id="wiki-submit">Search Word</button>
    `)

    add_element("div", "<p id='definition'>")

    document.getElementById("wiki-submit").addEventListener('click', submitForm);

    function submitForm() {
        let word = document.getElementById("word").value;

        url = "/api/wikipedia_definition";
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                "word": word,
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(async (response) => {
            let json = await response.json();
            let definition = json.definition;
            if (definition === "") {
                document.getElementById("definition").innerText = `${word} is not a word in wikipedia.`;
            } else {
                document.getElementById("definition").innerText = definition;
            }
        })
    }

</script>

{% endblock %}