{% extends "base.html" %}

{% block functionality %} Wikipedia Definition {% endblock %}

{% block content %}

<div id = "mainContainer"></div>

<script>

    var mainContainer = document.getElementById("mainContainer");

    function add_element(elementType, innerHTML) {
        var element = document.createElement(elementType)
        element.innerHTML = innerHTML
        mainContainer.appendChild(element);
    }

    add_element("h2", "Enter A Word For Wikipedia Definition")

    add_element("div",
    `
    <form autocomplete="off" onsubmit="return false;">
        <p>Word: <input id="word" type="text"></p>
    </form>
    <button id="wiki-submit">Search Word</button>
    `)

    add_element("div", "<p id='definition'>")

    document.getElementById("wiki-submit").addEventListener('click', handleClick);

    // https://freshman.tech/wikipedia-javascript/
    async function searchWikipedia(searchQuery) {
        const endpoint = `https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exlimit=1&explaintext=1&exsectionformat=plain&format=json&origin=*&titles=${searchQuery}`;
        const response = await fetch(endpoint);
        if (!response.ok) {
            throw Error(response.statusText);
        }
        const json = await response.json();
        return json;
    }

    async function handleClick() {
        let word = document.getElementById("word").value;
        let res = await searchWikipedia(word);
        let pages = res.query.pages;
        let extract = pages[Object.keys(pages)[0]].extract;
        if (extract === undefined) {
            document.getElementById("definition").innerText = `${word} is not a word in wikipedia.`;
        } else {
            document.getElementById("definition").innerText = extract;
        }
    }

</script>

{% endblock %}